body{
    background-color: blue;
}

.clock{
    background-color: sienna;
    border: 2px solid red;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    
}

.hand{
    border: 1px solid wheat;

}
